* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.input-section,
.calendar-section,
.charts-section {
  margin-top: 20px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}
/* Styling the button container */
.button-container {
  display: flex;
  align-items: center;

  gap: 20px;
}

/* Button styling */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Button hover effect */
.btn:hover {
  background-color: #185e1b;
}

.day-box {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background: #f9f9f9;
}

.chart-container {
  width: 100%;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .charts-section {
    display: flex;
    gap: 20px;
  }

  .chart-container {
    width: 48%;
  }
}

.chart-full {
  width: 100%;
  height: 500px;
}
